{% extends "app/layout.html" %}

{% block body %}

{% load static %}

 

<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"> </h2>
                    <p class="pageheader-text"></p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>  
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->


                       <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div style="border-radius:10px;" class="card">
                                            
                                            <div class="card-body">
                                             <h2 style="text-align: center;">{{greetings}} {{request.user.first_name}}, This is your organization's dasboard!</h2> 
                                             <h4 style="text-align: center;">What do you want to do today?</h4>  
                                            </div>
                                            
                                        </div>
                                    </div> 
        
                        </div>   
                        
                        

                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}
                               <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </a>
    
                            </div>
                        {% endfor %}
                        {% endif %}

        <div class="ecommerce-widget">
           
  
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                     
                 

                    <div style="border-radius:10px;" class="card">
                        <div class="card-body">
                           
                            <h3 style="color: #7b27d8;" class="mb-1">Business Loan Application</h3>
                            <div class="metric-value d-inline-block">
                                <h4 class="text-muted">Not applied for loan yet? </br> It is very easy here in few steps!</h4>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <a href="" class="btn btn-danger">Apply for business loan</a>
                            </div>
                        </div>
                        <div id="sparkline-revenue"></div>
                    </div>
 
                </div>
               
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div style="border-radius:10px;" class="card">
                        <div class="card-body">
                            <h3 style="color: #7b27d8;" class="mb-1">Visualize Progress </h3>
                            <div class="metric-value d-inline-block">
                                <h4 class="text-muted">It takes time to build progress,  </br> 
                                keep observing your achievements so far.</h4>
                               
                            </div>
                            <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                                <a href="#" class="btn btn-primary">Go to charts</a>
                            </div>
                        </div>
                        <div id="sparkline-revenue3"></div>
                    </div>
                </div>
               

            </div>


            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h3 class="pageheader-title">Here are other things you can do! </h3>
                        <p class="pageheader-text"></p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                     
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div> 


            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">

                    <a href="{% url 'employee:all_employee'  %}">
                    <div style="border-radius:10px; height:230px;" class="card">
                        <div style="text-align: center;" class="card-body">
                            <img style="width:60px; height:auto;display: block; margin-left: auto; margin-right: auto;" alt="Total-farmers" src="{% static 'img/loan.png' %}" />
                        </br>
                            <h3 style="color: #7b27d8;"  class="mb-1">Employee</h3>
                            <div class="metric-value d-inline-block">
                                <h4  class="text-muted">Record and view all registered employees</h4>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                              
                            </div>
                        </div>
                        <div id="sparkline-revenue"></div>
                    </div>
                   </a>

                </div>
   
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <a href="{% url 'payroll:all_employee_payroll_data'  %}">
                    <div style="border-radius:10px; height:230px;" class="card">
                        <div  style="text-align: center;" class="card-body">
                            <img style="width:60px; height:auto;display: block; margin-left: auto; margin-right: auto;" alt="Total-farmers" src="{% static 'img/report.png' %}" />
                        </br>
                            <h3 style="color: #7b27d8;" class="mb-1">Payroll</h3>
                            <div class="metric-value d-inline-block">
                                <h4 class="text-muted">Record and view all employee payroll</h4>
                               
                            </div>
                            <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                               
                            </div>
                        </div>
                        <div id="sparkline-revenue3"></div>
                    </div>
                   </a>

                </div>
              
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <a href="">
                    <div style="border-radius:10px; height:230px;" class="card">
                        <div  style="text-align: center;" class="card-body">
                            <img style="width:60px; height:auto;display: block; margin-left: auto; margin-right: auto;" alt="Total-farmers" src="{% static 'img/metrics.png' %}" />
                        </br>
                            <h3 style="color: #7b27d8;" class="mb-1">Metrics</h3>
                            <div class="metric-value d-inline-block">
                                <h4 class="text-muted">View all trends and analysis</h4>
                               
                            </div>
                            <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                               
                            </div>
                        </div>
                        <div id="sparkline-revenue3"></div>
                    </div>
                    </a>
                </div>
                </div>



                <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <a href="#">
                    <div style="border-radius:10px; height:230px;" class="card">
                        <div style="text-align: center;" class="card-body">
                            <img style="width:60px; height:auto;display: block; margin-left: auto; margin-right: auto;" alt="Total-farmers" src="{% static 'img/business_chart_report.png' %}" />
                        </br> 
                            <h3 style="color: #7b27d8;" class="mb-1">Charts</h3>
                            <div class="metric-value d-inline-block">
                                <h4 class="text-muted">Get more data visualization on your metrics</h4>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                              
                            </div>
                        </div>
                        <div id="sparkline-revenue"></div>
                    </div>
                    </a>

                </div>

                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <a href="#">
                        <div style="border-radius:10px; height:230px;" class="card">
                            <div style="text-align: center;" class="card-body">
                        <img style="width:60px; height:auto;display: block; margin-left: auto; margin-right: auto;" alt="Total-farmers" src="{% static 'img/group_users.png' %}" />
                            </br>
                            <h3 style="color: #7b27d8;" class="mb-1">Partners</h3>
                            <div class="metric-value d-inline-block">
                                <h4 class="text-muted">Manage partners in your business</h4>
                               
                            </div>
                            <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                               
                            </div>
                        </div>
                        <div id="sparkline-revenue3"></div>
                    </div>
                    </a>
                </div>
              
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                   <a href="{% url 'organization:organization_setting'%}">
                    <div style="border-radius:10px; height:230px;" class="card">
                        <div style="text-align: center;" class="card-body">
                        <img style="width:60px; height:auto;display: block; margin-left: auto; margin-right: auto;" alt="Total-farmers" src="{% static 'img/settings_institution.png' %}" />
                        </br>
                            <h3 style="color: #7b27d8;" class="mb-1">Settings</h3>
                            <div class="metric-value d-inline-block">
                                <h4 class="text-muted">Set up all custom settings for business</h4>
                               
                            </div>
                            <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                               
                            </div>
                        </div>
                        <div id="sparkline-revenue3"></div>
                    </div>
                   </a>

                </div>
            </div>



 
        </div>
    </div>
</div>
 

{% endblock %}