{% extends "account/layout.html" %}

{% block body %}

{% load static %}
     
<div class="main">

    <section class="signup">
       
        <div class="container">
          
            <div class="signup-content-login">
                <div class="logo"> 
                <!-- <img class="imgLogo" width="200" height="auto" src="static/img/StepL_Logo.png" alt=""> -->
                <img class="imgLogo" width="125" height="auto" src="{% static 'img/hr_360.png' %}" alt="">

                <hr style="height:1.5px;border-width:0;color:whitesmoke;background-color:whitesmoke; margin-top: -75px;">
              </div>
                <form method="POST"  action="{% url 'appusers:login_user' %}"    class="signup-form">

                    {% if message %}
                  <div>
                    <label id="error2" style="color:red;display: inline-block; position: static; text-align: center;">
                        <li>{{ message }}</li>
                    </label>   
                   
                
                </div>
                   {% endif %}

                    {% csrf_token %}
                    <h2 style="text-align: center; margin-top: 10px;font-size: 14px;line-height: 1.8;color: #222;font-weight: 800;font-family: 'Montserrat';" class="form-title">Login</h2>
                    <!-- <h4 style="text-align: center; margin-top: 10px;" class="form-title">Let's start with the following details</h4> -->
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-input" required autocomplete="off" name="email" id="email" />
                    </div>
                   
                   

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-input" required autocomplete="off" name="password" id="Password" />
                    </div>

                    

                  
                    
  
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit"  class="form-submitFistnameLastname" value="LOGIN"/>
                    </div>



                    <h4 style="text-align: center; margin-top: 10px;" class="form-title">Don't have an account? <a style="text-decoration: none; color: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);" href="#">Sign up</a></h4> 
                    <h4 style="text-align: center; margin-top: 10px;" class="form-title">OR  </h4> 
                    <h4 style="text-align: center; margin-top: 10px;" class="form-title">Forgot password? <a style="text-decoration: none; color: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);" href="#">Reset password</a></h4>
                
                </form>
                
            </div>
        </div>
    </section>

</div>


{% endblock %}