{% extends "app/layout.html" %}

{% block body %}

{% load static %}
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">

                    <!-- <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="card">
                                            
                                            <div class="card-body">
                                                
                                            </div>
                                            
                                        </div>
                                    </div> 
        
                        </div>    -->
                   
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Employee Allowance </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>

                                            <li class="breadcrumb-item active" aria-current="page">Payroll records</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}
                               <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </a>
    
                            </div>
                        {% endfor %}
                        {% endif %}

                     <div class="row">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header d-flex">
                                    <h4 class="card-header-title">List Of Employee Allowance Records</h4>
                                    <div class="toolbar ml-auto">
                                        
                                           
                                     

                                        <a data-toggle="modal" data-target="#payROLLfORM" href="" class="btn btn-primary btn-sm ">Add Allowance</a>
                                       
                                        
                                   
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">#</th>
                                                  
                                                    <th class="border-0">Full name</th>
                                                    <th class="border-0">Type of allowance</th>
                                                    <th class="border-0">Amount</th>
                                                    <th class="border-0">Date</th>
                                                    <th class="border-0">Paid by</th>
                                                    
                                                    <th class="border-0"> </th>
                                                   
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% if employee_allowance_records %}
                                                                           
                                                {% for summary in employee_allowance_records %}
                                                <tr>
                                                    <td>
                                                        {{summary.id}}
                                                      </td>
                                                    <td>
                                                      {{summary.employee_allowance.first_name}}   {{summary.employee_allowance.last_name}}
                                                    </td>
                                                    <td>  
                                                        {{summary.allowance_type.name}}   
                                                   
                                                
                                                </td>
                                          
                                            <td>  
                                                {{summary.allowance_type.amount}}   
                                           
                                        
                                        </td>

                                        <td>  
                                            {{summary.date_created}}   
                                       
                                    
                                    </td>


                                                <td>  
                                                    {{summary.allowance_given_by.first_name}} {{summary.allowance_given_by.last_name}}   
                                               
                                            
                                            </td>
                                                     
                                              

                                                    <td>
                                                        <div class="dropdown float-right">
                                                            <a href="#" class="" data-toggle="dropdown" aria-expanded="true">
                                                  <i class="mdi mdi-dots-vertical"></i>
                                                    </a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                              

                                                              
                                                               

                                                                <a href="" class="dropdown-item text-primary"> <i class="fas fa-eye"></i> View </a>
                                                                <!-- <a href="" class="dropdown-item text-primary"> <i class="fas fa-edit"></i> Edit </a> -->
                                                                <a href="#" class="dropdown-item text-danger" data-toggle="modal" data-target="#{{summary.id}}"> <i class="fas fa-trash"></i> Delete</a>
                                                                
                                                               
                                                           
                                                            </div>
                                                        </div>

                                                        <div class="modal fade" id="{{summary.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure, you want to delete employee record?</h5>
                                                                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </a>
                                                                    </div>
                                        
                                                                    <div class="modal-body">
                                                                     
                                                                        <form  method="POST" action="{% url 'employee:delete_employee_record' summary.id   %}" id="basicform" data-parsley-validate="">
                                                                            {% csrf_token %}
                                                                            
                                                                            
                                                                                 
                                                                                <input id="inputEmail" type="hidden" value="{{summary.id}}"   name="id"  required   autocomplete="off" class="form-control">
                                                                                 
                                                                           
                                        
                                                                          
                                                                            
                                                                            <div class="modal-footer">
                                                                                <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                                                                                <button type="submit" class="btn btn-space btn-danger">Delete Record</button>
                                                                            </div>
                                        
                                                                            
                                                                        </form>
                                        
                                                                    </div>
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </td>
                                                     
                                                </tr>
                                                
                                                
                                                {% empty %}
                                                <li>No Records!!!!.</li>
                                                {% endfor %}
                                                {% endif %}


                                              
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                     </div>

                </div>


                <div class="modal fade" id="payROLLfORM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Employee Allowance</h5>
                                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </a>
                            </div>

                            <div class="modal-body">
                             
                                <form  method="POST" action="{% url 'payroll:all_employee_allowance_data'%}" id="basicform" data-parsley-validate="">
                                    {% csrf_token %}
                                    
                                    <form  method="POST" action="{% url 'organization:create_organization_deduction' %}" id="basicform" data-parsley-validate="">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="inputEmail">Select an employee*</label>
                                            <select required  name="employee" class="form-control">
                                                <option selected>----------</option>
                                                {% for entry in all_employees %}
                                                <option value="{{ entry.employee_job_details.id }}">{{ entry.employee_job_details.first_name }} {{ entry.employee_job_details.last_name }}</option>
                                            {% endfor %}
                                            
                                            </select>
                                            
                                        </div>


                                        <div class="form-group">
                                            <label for="inputEmail">Select an allowance*</label>
                                            <select required  name="allowance" class="form-control">
                                                <option selected>----------</option>
                                                {% for entry2 in compliance_allowance %}
                                                <option value="{{ entry2.id }}">{{ entry2.name }}</option>
                                            {% endfor %}
                                            
                                            </select>
                                            
                                        </div>


                                       

           

                                    
                                      
                                        
                                        <div class="modal-footer">
                                            <!-- <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a> -->
                                            <button type="submit" class="btn btn-space btn-primary">Save</button>
                                        </div>

                                        
                                    </form>

                                    
                                </form>

                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>

           

{% endblock %}